@model List<RMERP.DAL.Models.Firm>
@{
   ViewData["Title"] = "Choose Firms";
   Layout = "~/Views/Shared/_RMLayout.cshtml";
}
@section Breadcrumbs{
   <li class="breadcrumb-item">Choose Firm</li>
}
<style>
   .firms a {
      color: white;
   }
</style>
<div class="btn-group-vertical firms">
   @foreach (var item in Model)
   {
      <a class="btn btn-lg btn-primary" href="@Url.Action("Index", new { FRM_Id = item.FRM_Id})">@item.FRM_Name</a>
   }
</div>