@model Tuple<IEnumerable<RMERP.DAL.Models.Wage_Register_Advance>, RMERP.DAL.Models.Employee_Advance>
@*@model Tuple<IEnumerable<RMERP.DAL.Models.Wage_Register_Advances>,int,int,DateTime>*@

<div id="DeleteAdvanceModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modal-md">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Delete related EMI First!</h4>                
            </div>
           
            <div class="modal-body">
                <ul>
                    @foreach (var item in Model.Item1)
                    {
                        var cls = "";
                        if (DateTime.Compare(new DateTime(item.WAG.WAG_Month.Year, item.WAG.WAG_Month.Month, 1), new DateTime(Model.Item2.ADV_RegisteredOn.Year, Model.Item2.ADV_RegisteredOn.Month, 1)) == 0)
                        {
                            cls = "text-danger";
                        }
                        <li class="@cls">
                            Employee is paying advance of <b>Rs.@item.WAD_Amount</b> in month of <b>@item.WAG.WAG_Month.ToString("MMM-yyyy")</b>
                        </li>
                    }
                </ul>

                <div class="alert alert-danger">
                    Are you sure you wants to delete this advance ?
                    <a class="btn btn-danger" href='@Url.Action("DeleteAdvance","Employees",new { ADV_Id = Model.Item2.ADV_Id,EMP_Id=Model.Item2.EMP_Id})' title="Delete" onclick="return confirm('Are you sure?');">
                        <i class="fa fa-trash m-r-5"></i> Delete
                    </a>

                </div>

            </div>
        </div>
    </div>
</div>

