
.modelLeftSide {
    margin: 30px !important;
}
.InActiveProfile {
    background-color: #ababab5c;
}

/* Switch button */
.btn-default.btn-on.active{background-color: #5BB75B;color: white;}
.btn-default.btn-off.active{background-color: #DA4F49;color: white;}

.div-title {
    color: #565656;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 15px;
    border-bottom: solid;
}

.total-client {
    border: solid 1px;
    padding: 5px;
    margin-left: 10px;
    border-color: green;
    color: green;
}