
.modelLeftSide {
    margin: 30px !important;
}
.InActiveProfile {
    background-color: #ababab5c;
}

/* Switch button */
.btn-default.btn-on.active{background-color: #5BB75B;color: white;}
.btn-default.btn-off.active{background-color: #DA4F49;color: white;}

.div-title {
    color: #565656;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 15px;
    border-bottom: solid;
}

.total-client {
    border: solid 1px;
    padding: 5px;
    margin-left: 10px;
    border-color: green;
    color: green;
}

.client-textbox {
    box-shadow: none;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}
.client-selection-model {
    padding-bottom: 10px;
}

.reports-selection {
    cursor: pointer;
    font-size: 10px;
    color: #009ce7!important;
}
.check-client {
    cursor: pointer;    
    font-weight:normal!important;
}
.report-type {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}


