@model RMERP.DAL.ViewModel.AttendanceRegisterVM
@{
    ViewData["Title"] = "AttendanceRegister";
    Layout = "~/Views/Shared/_RMLayout.cshtml";
}

<ul class="nav nav-tabs">
    @foreach (var item in Model.listClients)
    {
        <li><a data-toggle="tab" href="#@item.CLI_Id">@item.CLI_Name</a></li>
    }
    @*<li class="active"><a data-toggle="tab" href="#home">Home</a></li>*@    
</ul>

<div class="tab-content">
    @foreach (var item in Model.listClients)
    {
    <div id="@item.CLI_Id" class="tab-pane fade">
        <h3>@item.CLI_Name</h3>
        @if (item.Attendance != null)
        {
            @foreach (var attendance in item.Attendance)
            {
                <p>@attendance.ATT_Date</p> <br />
            }
        }

    </div>
    }

    @*<div id="menu1" class="tab-pane fade">
        <h3>Menu 1</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>*@
    
</div>

