@model RMERP.DAL.MetaClasses.AdminUsers

@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_RMLayout.cshtml";
}

<h2>Index</h2>

<h4>AdminUsers</h4>
<h5>@ViewBag.Welcome</h5>
<hr />

