@model List<RMERP.DAL.ViewModel.ClientRequirementVM>
@using RMERP.Helpers;
@{
    ViewData["Title"] = "History of Requirement";
    Layout = "~/Views/Shared/_RMLayout.cshtml";
}

<div class="col-sm-8">
    <h4 class="page-title">@ViewBag.CLI_Name</h4>
    <p>Designation - <b>@ViewBag.DES_Title</b></p>
</div>
@if (Model.Count() > 0)
{
    <div class="col-sm-8">
        <table class="table table-striped custom-table m-b-0 ">
            <thead>
                <tr>
                    <th>Effective Period</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.Raw(DateHelper.getDateWithFormat(item.CRI_RegisteredOn) + " - " + DateHelper.getDateWithFormat(item.CRI_InactivatedOn.Value))</td>
                        <td>
                            <a href='@Url.Action("AddEditRequirement", "Clients", new {CLI_Id=item.CLI_Id, CRI_Id=item.CRI_Id,tab="History" })' title="View"><i class="fa fa-eye m-r-5"></i> View</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}
else
{
    <div class="col-sm-8 m-t-30">
        <p>Never Change happened in This Requirement</p>
    </div>
}
