
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_RMLayout.cshtml";
}

<div class="row">
    <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="dash-widget clearfix card-box">
            <span class="dash-widget-icon"><i class="fa fa-black-tie" aria-hidden="true"></i></span>
            <div class="dash-widget-info" style="min-height: 87px;">
                <h3>@ViewBag.clients</h3>
                <span>Total Clients</span>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="dash-widget clearfix card-box">
            <span class="dash-widget-icon"><i class="fa fa-users" aria-hidden="true"></i></span>
            <div class="dash-widget-info" style="min-height: 87px;">
                <h3>@ViewBag.employees</h3>
                <span>Total Employees</span>
            </div>
        </div>
    </div>
</div>
